<!-- Footer -->
<footer class="py-8 bg-black border-t border-sky-900/30">
  <div class="container mx-auto px-4">
    <div class="">
      <!-- <div class="mb-4 md:mb-0">
        <div class="text-sky-500 font-bold text-xl">
          <span class="text-white">HPS</span> AVIATION
        </div>
        <p class="text-slate-400 text-sm mt-1">
          {{ "footer_tagline" | translate }}
        </p>
      </div> -->

      <div class="text-center">
        <p class="text-slate-400 text-sm">
          {{ "footer_copyright" | translate : currentYear }}
        </p>
      </div>
    </div>
  </div>
</footer>
