<app-navbar />

<app-page-banner />

<div class="pb-120 border-bottom"></div>

<!-- Shipping and Delivery -->
<div class="shipping-delivery-area ptb-120">
    <div class="container">
        <div class="shipping-delivery-content">
            <h4>{{ "SHIPPING_OVERVIEW" | translate }}</h4>
            <p>{{ "SHIPPING_INTRO" | translate }}</p>
            
            <h4>{{ "SHIPPING_METHODS_TITLE" | translate }}</h4>
            <p>{{ "SHIPPING_METHODS_DESC" | translate }}</p>
            <ul>
                <li><strong>{{ "STANDARD_SHIPPING" | translate }}:</strong> {{ "STANDARD_SHIPPING_DESC" | translate }}</li>
                <li><strong>{{ "NEXT_DAY_DELIVERY" | translate }}:</strong> {{ "NEXT_DAY_DELIVERY_DESC" | translate }}</li>
                <li><strong>{{ "EXPRESS_DELIVERY" | translate }}:</strong> {{ "EXPRESS_DELIVERY_DESC" | translate }}</li>
                <li><strong>{{ "IN_STORE_COLLECTION" | translate }}:</strong> {{ "IN_STORE_COLLECTION_DESC" | translate }}</li>
            </ul>
            
            <h4>{{ "SHIPPING_COSTS_TITLE" | translate }}</h4>
            <p>{{ "SHIPPING_COSTS_DESC" | translate }}</p>
            <ul>
                <li><strong>{{ "STANDARD_SHIPPING" | translate }}:</strong> {{ "STANDARD_SHIPPING_COST" | translate }}</li>
                <li><strong>{{ "NEXT_DAY_DELIVERY" | translate }}:</strong> {{ "NEXT_DAY_DELIVERY_COST" | translate }}</li>
                <li><strong>{{ "EXPRESS_DELIVERY" | translate }}:</strong> {{ "EXPRESS_DELIVERY_COST" | translate }}</li>
                <li><strong>{{ "INTERNATIONAL_SHIPPING" | translate }}:</strong> {{ "INTERNATIONAL_SHIPPING_COST" | translate }}</li>
            </ul>
            <p>{{ "SHIPPING_FAQS_LINK" | translate }}</p>
            
            <h4>{{ "PACKAGING_TITLE" | translate }}</h4>
            <p>{{ "PACKAGING_DESC" | translate }}</p>
            
            <h4>{{ "ORDER_TRACKING_TITLE" | translate }}</h4>
            <p>{{ "ORDER_TRACKING_DESC" | translate }}</p>
            
            <h4>{{ "INTERNATIONAL_SHIPPING" | translate }}</h4>
            <p>{{ "INTERNATIONAL_SHIPPING_NOTE" | translate }}</p>
            <ul>
                <li>{{ "INTERNATIONAL_DELIVERY_TIMES" | translate }}</li>
                <li>{{ "INTERNATIONAL_CUSTOMS" | translate }}</li>
                <li>{{ "INTERNATIONAL_RESTRICTIONS" | translate }}</li>
            </ul>
            
            <h4>{{ "DELIVERY_ISSUES_TITLE" | translate }}</h4>
            <p>{{ "DELIVERY_ISSUES_DESC" | translate }}</p>
            
            <h4>{{ "PAYMENT_METHODS_SHIPPING" | translate }}</h4>
            <p>{{ "PAYMENT_METHODS_SHIPPING_DESC" | translate }}</p>
            <ul>
                <li><strong>{{ "CREDIT_CARD" | translate }}:</strong> {{ "CREDIT_CARD_DESC" | translate }}</li>
                <li><strong>{{ "FAST_CHECKOUT" | translate }}:</strong> {{ "FAST_CHECKOUT_DESC" | translate }}</li>
                <li><strong>PayPal:</strong> {{ "PAYPAL_DESC" | translate }}</li>
            </ul>
            
            <h4>{{ "CONTACT_US" | translate }}</h4>
            <p>{{ "CONTACT_US_SHIPPING" | translate }}</p>
            <ul>
                <li>{{ "EMAIL" | translate }}: <a routerLink=""></a></li>
                <li>{{ "PHONE" | translate }}: 1-800-XXX-XXXX ({{ "BUSINESS_HOURS" | translate }})</li>
            </ul>
            
            <p>{{ "LAST_UPDATED" | translate }}: 25 {{ "JANUARY" | translate }} 2025</p>
        </div>
    </div>
</div>
<!-- End Shipping and Delivery -->

<app-footer />

<app-back-to-top />