<app-navbar />

<app-page-banner />

<div class="pb-120 border-bottom"></div>

<!-- Privacy Policy -->
<div class="privacy-policy-area ptb-120">
    <div class="container">
        <div class="privacy-policy-content">
            <h4>{{ "PRIVACY_OVERVIEW" | translate }}</h4>
            <p>{{ "PRIVACY_INTRO" | translate }}</p>
            <h4>{{ "GENERAL_PERMISSION_TITLE" | translate }}</h4>
            <p>{{ "GENERAL_PERMISSION_DESC" | translate }}</p>
            <p>{{ "SHIPPING_OPTIONS" | translate }}</p>
            <h4>{{ "CONFIDENTIAL_INFO_TITLE" | translate }}</h4>
            <p>{{ "PAYMENT_METHODS_ACCEPTED" | translate }}</p>
            <ul>
                <li>{{ "CREDIT_CARD_PRIVACY" | translate }}</li>
                <li>{{ "FAST_CHECKOUT_PRIVACY" | translate }}</li>
                <li>{{ "PAYPAL_PRIVACY" | translate }}</li>
            </ul>
            <h4>{{ "LINKING_TITLE" | translate }}</h4>
            <p>{{ "RETURN_POLICY_PRIVACY" | translate }}</p>
            <h4>{{ "INTELLECTUAL_PROPERTY_TITLE" | translate }}</h4>
            <p>{{ "INTELLECTUAL_PROPERTY_DESC" | translate }}</p>
            <p>{{ "INTELLECTUAL_PROPERTY_DESC_2" | translate }}</p>
            <h4>{{ "SECURITY_STORAGE_TITLE" | translate }}</h4>
            <p>{{ "SECURITY_STORAGE_DESC" | translate }}</p>
            <ol>
                <li>{{ "CREDIT_CARD_PRIVACY" | translate }}</li>
                <li>{{ "FAST_CHECKOUT_PRIVACY" | translate }}</li>
                <li>{{ "PAYPAL_PRIVACY" | translate }}</li>
            </ol>
            <p>{{ "LAST_UPDATED" | translate }}: 25 {{ "JANUARY" | translate }} 2024</p>
        </div>
    </div>
</div>
<!-- End Privacy Policy -->

<app-footer />

<app-back-to-top />