.section-top {
    padding-top: 200px;
    position: relative;
    background: url(../../../../assets/images/1.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 120px;
}