<app-navbar />

<app-page-banner />

<div class="pb-120 border-bottom"></div>

<!-- Returns and Refunds -->
<div class="returns-refunds-area ptb-120">
    <div class="container">
        <div class="returns-refunds-content">
            <h4>{{ "RETURNS_OVERVIEW" | translate }}</h4>
            <p>{{ "RETURNS_INTRO" | translate }}</p>
            
            <h4>{{ "RETURN_POLICY_TITLE" | translate }}</h4>
            <p>{{ "RETURN_POLICY_DESC" | translate }}</p>
            <ul>
                <li><strong>{{ "ELIGIBILITY" | translate }}:</strong> {{ "ELIGIBILITY_DESC" | translate }}</li>
                <li><strong>{{ "NON_RETURNABLE_ITEMS" | translate }}:</strong> {{ "NON_RETURNABLE_ITEMS_DESC" | translate }}</li>
                <li><strong>{{ "PROOF_OF_PURCHASE" | translate }}:</strong> {{ "PROOF_OF_PURCHASE_DESC" | translate }}</li>
            </ul>

            <h4>{{ "HOW_TO_RETURN_TITLE" | translate }}</h4>
            <p>{{ "HOW_TO_RETURN_DESC" | translate }}</p>
            <ol>
                <li>{{ "RETURN_STEP_1" | translate }}</li>
                <li>{{ "RETURN_STEP_2" | translate }}</li>
                <li>{{ "RETURN_STEP_3" | translate }}</li>
                <li>{{ "RETURN_STEP_4" | translate }}</li>
            </ol>
            
            <h4>{{ "REFUND_PROCESS_TITLE" | translate }}</h4>
            <p>{{ "REFUND_PROCESS_DESC" | translate }}</p>
            <ul>
                <li>{{ "REFUND_TIMELINE" | translate }}</li>
                <li>{{ "REFUND_SHIPPING_FEES" | translate }}</li>
                <li>{{ "REFUND_PAYMENT_METHOD" | translate }}</li>
            </ul>
            
            <h4>{{ "EXCHANGES_TITLE" | translate }}</h4>
            <p>{{ "EXCHANGES_DESC" | translate }}</p>
            
            <h4>{{ "DEFECTIVE_ITEMS_TITLE" | translate }}</h4>
            <p>{{ "DEFECTIVE_ITEMS_DESC" | translate }}</p>
            
            <h4>{{ "SHIPPING_INFO_RETURNS_TITLE" | translate }}</h4>
            <p>{{ "SHIPPING_INFO_RETURNS_DESC" | translate }}</p>
            
            <h4>{{ "CONTACT_US" | translate }}</h4>
            <p>{{ "CONTACT_US_RETURNS" | translate }}</p>
            <ul>
                <li>{{ "EMAIL" | translate }}: <a href=""></a></li>
                <li>{{ "PHONE" | translate }}: 1-800-XXX-XXXX ({{ "BUSINESS_HOURS" | translate }})</li>
            </ul>
            
            <p>{{ "LAST_UPDATED" | translate }}: 25 {{ "JANUARY" | translate }} 2025</p>
        </div>
    </div>
</div>
<!-- End Returns and Refunds -->

<app-footer />

<app-back-to-top />