<app-navbar />

<app-page-banner />

<div class="pb-120 border-bottom"></div>

<!-- Terms & Conditions -->
<div class="terms-conditions-area ptb-120 border-bottom">
    <div class="container">
        <div class="terms-conditions-content">
            <h4>{{ "TERMS_OVERVIEW" | translate }}</h4>
            <p>{{ "TERMS_INTRO" | translate }}</p>
            <h4>{{ "GENERAL_PERMISSION_TITLE" | translate }}</h4>
            <p>{{ "GENERAL_PERMISSION_DESC" | translate }}</p>
            <p>{{ "SHIPPING_OPTIONS" | translate }}</p>
            <h4>{{ "CONFIDENTIAL_INFO_TITLE" | translate }}</h4>
            <p>{{ "PAYMENT_METHODS_ACCEPTED" | translate }}</p>
            <ul>
                <li>{{ "CREDIT_CARD_TERMS" | translate }}</li>
                <li>{{ "FAST_CHECKOUT_TERMS" | translate }}</li>
                <li>{{ "PAYPAL_TERMS" | translate }}</li>
            </ul>
            <h4>{{ "LINKING_TITLE" | translate }}</h4>
            <p>{{ "RETURN_POLICY_TERMS" | translate }}</p>
            <h4>{{ "INTELLECTUAL_PROPERTY_TITLE" | translate }}</h4>
            <p>{{ "INTELLECTUAL_PROPERTY_DESC" | translate }}</p>
            <p>{{ "INTELLECTUAL_PROPERTY_DESC_2" | translate }}</p>
            <h4>{{ "SECURITY_STORAGE_TITLE" | translate }}</h4>
            <p>{{ "SECURITY_STORAGE_DESC" | translate }}</p>
            <ol>
                <li>{{ "CREDIT_CARD_TERMS" | translate }}</li>
                <li>{{ "FAST_CHECKOUT_TERMS" | translate }}</li>
                <li>{{ "PAYPAL_TERMS" | translate }}</li>
            </ol>
            <p>{{ "LAST_UPDATED" | translate }}: 25 {{ "JANUARY" | translate }} 2024</p>
        </div>
    </div>
</div>
<!-- End Terms & Conditions -->

<app-footer />

<app-back-to-top />